<!doctype html>
<html>
    <head>
        <title>GoProjectify</title>
        <link href="Code/CSS/Base.css" rel="stylesheet" type="text/css" />
        <link href="Code/JS/Lib/jquery-ui.min.css" rel="stylesheet" type="text/css" />
        <script src="Code/JS/Lib/jquery3.3.1.js"></script>
        <script src="Code/JS/Lib/jquery-ui.min.js"></script>
        <script src="Code/JS/Lib/jsplumb.min.js"></script>
    </head>
    <body>
        <nav id="nav">
            <button onclick="createProject()">Create New Project</button>
            <div id="projects">

            </div>
            <br/>
        </nav>
        <div id="Content">
            <div id="draw">

            </div>
        </div>
        <div id="contextModal">
            <table>
                <tr>
                    <td>
                        <div id="contextBackground">
                            <h3 id="contextTitle">Modify Node: Root</h3>
                            <div id="contextOptions">
                                <button>Link</button>
                                <button>Delete</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <script src="Code/JS/Calls.js"></script>
        <script>
            updateProjects();
        </script>
    </body>
</html>