@import url("./Imports/Box.css");

html, body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #eeeeee;
}

body {
    display: grid;
    grid-template-columns: minmax(min-content, 200px) auto;
    background-color: #fafafa;
    height: 100vh;
    overflow: hidden;
}
nav {
    min-height: 100vh;
}

nav, #projects {
    background-color: #f5f5f5;
    font-size: 0.8em;
}

#projects > *, #nav > button {
    padding: 1em;
    margin: 0;
    display: block;
    color: white;
    border: 0;
}

#projects > button {
    margin-top: 0.1em;
}

#projects > button, #nav > button {
    width: 100%;
}

#projects > button, #nav > button, #subNav > button {
    background-color: #eeeeee;
    color: black;
    cursor: pointer;
}

#projects > button[selected] {
    background-color: #eeeeff;
}

#nav > button {
    color: white;
    background-color: cornflowerblue;
}

#projects > button:hover, #nav > button:hover, #subNav > button:hover {
    background-color: #31313f;
    color: white;
}

#subNav {
    background-color: #eeeeee;
}

#subNav > * {
    padding: 1em;
    border: 0;
    background-color: transparent;
}

.node {
    position: absolute;
    padding: 1em;
    background-color: cornflowerblue;
    color: white;
    border: 1px solid #666;
    z-index: 100;
}

.line {
    z-index: 5;
}

#draw {
    max-height: 100%;
    height: 100%;
    background-color: #fafafa;
}

#draw[selected] > div[attr-nodeId] {
    cursor: crosshair;
}

#contextModal {
    display: none;
    text-align: center;
}

#contextModal[attr-active] {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    height: 100vh;
    width: 100vw;
    background-color: #222222aa;
    z-index: 101;
}

#contextModal > table {
    width: 100vw;
    height: 100vh;
}

#contextModal > table> tr > td {
    vertical-align: middle;
}

#contextBackground {
    display: inline-block;
    background-color: #f5f5f5;
    text-align: center;
    padding: 1em;
    border-radius: 5px;
    min-width: 200px;
    box-shadow: 3px 3px 5px #222;
}

#contextTitle {
    padding: 1em;
    margin: 0;
}

#contextOptions > button {
    padding: 1em;
    border: 0px;
    border-bottom: 1px solid lightgrey;
    background-color: transparent;
    display: block;
    width: 100%;
    cursor: pointer;
}

#contextOptions > button:hover {
    background-color: #31313f;
    color: white;
}

